___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

In this project, you must apply EDA processes for the development of predictive models. Handling outliers, domain knowledge and feature engineering will be challenges.

Also, this project aims to improve your ability to implement algorithms for Multi-Class Classification. Thus, you will have the opportunity to implement many algorithms commonly used for Multi-Class Classification problems.

Before diving into the project, please take a look at the determines and tasks.

# Determines

The 2012 US Army Anthropometric Survey (ANSUR II) was executed by the Natick Soldier Research, Development and Engineering Center (NSRDEC) from October 2010 to April 2012 and is comprised of personnel representing the total US Army force to include the US Army Active Duty, Reserves, and National Guard. In addition to the anthropometric and demographic data described below, the ANSUR II database also consists of 3D whole body, foot, and head scans of Soldier participants. These 3D data are not publicly available out of respect for the privacy of ANSUR II participants. The data from this survey are used for a wide range of equipment design, sizing, and tariffing applications within the military and has many potential commercial, industrial, and academic applications.

The ANSUR II working databases contain 93 anthropometric measurements which were directly measured, and 15 demographic/administrative variables explained below. The ANSUR II Male working database contains a total sample of 4,082 subjects. The ANSUR II Female working database contains a total sample of 1,986 subjects.


DATA DICT:
https://data.world/datamil/ansur-ii-data-dictionary/workspace/file?filename=ANSUR+II+Databases+Overview.pdf

---

To achieve high prediction success, you must understand the data well and develop different approaches that can affect the dependent variable.

Firstly, try to understand the dataset column by column using pandas module. Do research within the scope of domain (body scales, and race characteristics) knowledge on the internet to get to know the data set in the fastest way.

You will implement ***Logistic Regression, Support Vector Machine, XGBoost, Random Forest*** algorithms. Also, evaluate the success of your models with appropriate performance metrics.

At the end of the project, choose the most successful model and try to enhance the scores with ***SMOTE*** make it ready to deploy. Furthermore, use ***SHAP*** to explain how the best model you choose works.

# Tasks

#### 1. Exploratory Data Analysis (EDA)
- Import Libraries, Load Dataset, Exploring Data

    *i. Import Libraries*
    
    *ii. Ingest Data *
    
    *iii. Explore Data*
    
    *iv. Outlier Detection*
    
    *v.  Drop unnecessary features*

#### 2. Data Preprocessing
- Scale (if needed)
- Separete the data frame for evaluation purposes

#### 3. Multi-class Classification
- Import libraries
- Implement SVM Classifer
- Implement Decision Tree Classifier
- Implement Random Forest Classifer
- Implement XGBoost Classifer
- Compare The Models

# EDA
- Drop unnecessary colums
- Drop DODRace class if value count below 500 (we assume that our data model can't learn if it is below 500)

## Import Libraries
Besides Numpy and Pandas, you need to import the necessary modules for data visualization, data preprocessing, Model building and tuning.

*Note: Check out the course materials.*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import chardet

In [3]:
# determine the file type and read
def file_read(file):
    with open(file, 'rb') as f:
        encoding = chardet.detect(f.read())
    
    return pd.read_csv(file, delimiter=',', encoding=encoding['encoding'])


# show dataframe information
def information(df):
    print(f"RangeIndex: {df.shape[0]} entries, {df.index.min()} to {df.index.max()}")
    print(f"Total column: {df.shape[1]}\n")
    print(f"column{'':<30}type{'':<10}null %{'':<7}nunique %")

    print("-"*80)
    for column in sorted(df.columns):
        print(f"{column:<35} {str(df[column].dtype):<10}", end="")        
        
        tnull = "(%"+str(round(df[column].isnull().sum()/df.shape[0], 2)) +")"
        print(f"{df[column].isnull().sum():>4} {tnull:<10}", end="")

        print(f"{df[column].nunique():>4} (%{df[column].nunique()/df.shape[0]:.3f})")

## Ingest Data from links below and make a dataframe
- Soldiers Male : https://query.data.world/s/h3pbhckz5ck4rc7qmt2wlknlnn7esr
- Soldiers Female : https://query.data.world/s/sq27zz4hawg32yfxksqwijxmpwmynq

In [4]:
df_female = file_read('ANSUR II FEMALE Public.csv')
df_female.head()

,SubjectId,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10037,231,1282,301,204,1180,222,177,373,315,...,Combat Support,92Y,Germany,2,NaN,2,26,61,142,Right hand
1,10038,194,1379,320,207,1292,225,178,372,272,...,Combat Service Support,25U,California,3,Mexican,3,21,64,120,Right hand
2,10042,183,1369,329,233,1271,237,196,397,300,...,Combat Service Support,35D,Texas,1,NaN,1,23,68,147,Right hand
3,10043,261,1356,306,214,1250,240,188,384,364,...,Combat Service Support,25U,District of Columbia,8,Caribbean Islander,2,22,66,175,Right hand
4,10051,309,1303,308,214,1210,217,182,378,320,...,Combat Arms,42A,Texas,1,NaN,1,45,63,195,Right hand

In [41]:
df_female.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 108 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    SubjectId                       1986 non-null   int64
 1    abdominalextensiondepthsitting  1986 non-null   int64
 2    acromialheight                  1986 non-null   int64
 3    acromionradialelength           1986 non-null   int64
 4    anklecircumference              1986 non-null   int64
 5    axillaheight                    1986 non-null   int64
 6    balloffootcircumference         1986 non-null   int64
 7    balloffootlength                1986 non-null   int64
 8    biacromialbreadth               1986 non-null   int64
 9    bicepscircumferenceflexed       1986 non-null   int64
 10   bicristalbreadth                1986 non-null   int64
 11   bideltoidbreadth                1986 non-null   int64
 12   bimalleolarbreadth              1986 non-null   int64
 13   bitragionchinarc                1986 non-null   int64
 14   bitragionsubmandibulararc       1986 non-null   int64
 15   bizygomaticbreadth              1986 non-null   int64
 16   buttockcircumference            1986 non-null   int64
 17   buttockdepth                    1986 non-null   int64
 18   buttockheight                   1986 non-null   int64
 19   buttockkneelength               1986 non-null   int64
 20   buttockpopliteallength          1986 non-null   int64
 21   calfcircumference               1986 non-null   int64
 22   cervicaleheight                 1986 non-null   int64
 23   chestbreadth                    1986 non-null   int64
 24   chestcircumference              1986 non-null   int64
 25   chestdepth                      1986 non-null   int64
 26   chestheight                     1986 non-null   int64
 27   crotchheight                    1986 non-null   int64
 28   crotchlengthomphalion           1986 non-null   int64
 29   crotchlengthposterioromphalion  1986 non-null   int64
 30   earbreadth                      1986 non-null   int64
 31   earlength                       1986 non-null   int64
 32   earprotrusion                   1986 non-null   int64
 33   elbowrestheight                 1986 non-null   int64
 34   eyeheightsitting                1986 non-null   int64
 35   footbreadthhorizontal           1986 non-null   int64
 36   footlength                      1986 non-null   int64
 37   forearmcenterofgriplength       1986 non-null   int64
 38   forearmcircumferenceflexed      1986 non-null   int64
 39   forearmforearmbreadth           1986 non-null   int64
 40   forearmhandlength               1986 non-null   int64
 41   functionalleglength             1986 non-null   int64
 42   handbreadth                     1986 non-null   int64
 43   handcircumference               1986 non-null   int64
 44   handlength                      1986 non-null   int64
 45   headbreadth                     1986 non-null   int64
 46   headcircumference               1986 non-null   int64
 47   headlength                      1986 non-null   int64
 48   heelanklecircumference          1986 non-null   int64
 49   heelbreadth                     1986 non-null   int64
 50   hipbreadth                      1986 non-null   int64
 51   hipbreadthsitting               1986 non-null   int64
 52   iliocristaleheight              1986 non-null   int64
 53   interpupillarybreadth           1986 non-null   int64
 54   interscyei                      1986 non-null   int64
 55   interscyeii                     1986 non-null   int64
 56   kneeheightmidpatella            1986 non-null   int64
 57   kneeheightsitting               1986 non-null   int64
 58   lateralfemoralepicondyleheight  1986 non-null   int64
 59   lateralmalleolusheight          1986 non-null   int64
 60   lowerthighcircumference         1986 non-null   int64
 61   mentonsellionlength             1986 non-null   int64
 62   neckcircumference               1986 non-null   int64
 63   neckcircumferencebase           1986 non-null   int64
 64   overheadfingertipreachsitting   1986 non-null   int64
 65   palmlength                      1986 non-null   int64
 66   poplitealheight                 1986 non-null   int64
 67   radialestylionlength            1986 non-null   int64
 68   shouldercircumference           1986 non-null   int64
 69   shoulderelbowlength             1986 non-null   int64
 70   shoulderlength                  1986 non-null   int64
 71   sittingheight                   1986 non-null   int64
 72   sleevelengthspinewrist          1986 non-null   int64
 73   sleeveoutseam                   1986 non-null   int64
 74   span                            1986 non-null   int64
 75   stature                         1986 non-null   int64
 76   suprasternaleheight             1986 non-null   int64
 77   tenthribheight                  1986 non-null   int64
 78   thighcircumference              1986 non-null   int64
 79   thighclearance                  1986 non-null   int64
 80   thumbtipreach                   1986 non-null   int64
 81   tibialheight                    1986 non-null   int64
 82   tragiontopofhead                1986 non-null   int64
 83   trochanterionheight             1986 non-null   int64
 84   verticaltrunkcircumferenceusa   1986 non-null   int64
 85   waistbacklength                 1986 non-null   int64
 86   waistbreadth                    1986 non-null   int64
 87   waistcircumference              1986 non-null   int64
 88   waistdepth                      1986 non-null   int64
 89   waistfrontlengthsitting         1986 non-null   int64
 90   waistheightomphalion            1986 non-null   int64
 91   weightkg                        1986 non-null   int64
 92   wristcircumference              1986 non-null   int64
 93   wristheight                     1986 non-null   int64
 94   Gender                          1986 non-null   object
 95   Date                            1986 non-null   object
 96   Installation                    1986 non-null   object
 97   Component                       1986 non-null   object
 98   Branch                          1986 non-null   object
 99   PrimaryMOS                      1986 non-null   object
 100  SubjectsBirthLocation           1986 non-null   object
 101  SubjectNumericRace              1986 non-null   int64
 102  Ethnicity                       519 non-null    object
 103  DODRace                         1986 non-null   int64
 104  Age                             1986 non-null   int64
 105  Heightin                        1986 non-null   int64
 106  Weightlbs                       1986 non-null   int64
 107  WritingPreference               1986 non-null   object
dtypes: int64(99), object(9)
memory usage: 1.6+ MB

In [5]:
df_female.columns = df_female.columns.str.lower()
information(df_female)

RangeIndex: 1986 entries, 0 to 1985
Total column: 108

column                              type          null %       nunique %
--------------------------------------------------------------------------------
abdominalextensiondepthsitting      int64        0 (%0.0)     167 (%0.084)
acromialheight                      int64        0 (%0.0)     292 (%0.147)
acromionradialelength               int64        0 (%0.0)     103 (%0.052)
age                                 int64        0 (%0.0)      41 (%0.021)
anklecircumference                  int64        0 (%0.0)      92 (%0.046)
axillaheight                        int64        0 (%0.0)     278 (%0.140)
balloffootcircumference             int64        0 (%0.0)      72 (%0.036)
balloffootlength                    int64        0 (%0.0)      59 (%0.030)
biacromialbreadth                   int64        0 (%0.0)     108 (%0.054)
bicepscircumferenceflexed           int64        0 (%0.0)     166 (%0.084)
bicristalbreadth                    int64        0 (%0.0)     130 (%0.065)
bideltoidbreadth                    int64        0 (%0.0)     161 (%0.081)
bimalleolarbreadth                  int64        0 (%0.0)      27 (%0.014)
bitragionchinarc                    int64        0 (%0.0)      82 (%0.041)
bitragionsubmandibulararc           int64        0 (%0.0)      90 (%0.045)
bizygomaticbreadth                  int64        0 (%0.0)      36 (%0.018)
branch                              object       0 (%0.0)       3 (%0.002)
buttockcircumference                int64        0 (%0.0)     355 (%0.179)
buttockdepth                        int64        0 (%0.0)     139 (%0.070)
buttockheight                       int64        0 (%0.0)     234 (%0.118)
buttockkneelength                   int64        0 (%0.0)     182 (%0.092)
buttockpopliteallength              int64        0 (%0.0)     163 (%0.082)
calfcircumference                   int64        0 (%0.0)     161 (%0.081)
cervicaleheight                     int64        0 (%0.0)     303 (%0.153)
chestbreadth                        int64        0 (%0.0)     106 (%0.053)
chestcircumference                  int64        0 (%0.0)     377 (%0.190)
chestdepth                          int64        0 (%0.0)     149 (%0.075)
chestheight                         int64        0 (%0.0)     277 (%0.139)
component                           object       0 (%0.0)       3 (%0.002)
crotchheight                        int64        0 (%0.0)     234 (%0.118)
crotchlengthomphalion               int64        0 (%0.0)     218 (%0.110)
crotchlengthposterioromphalion      int64        0 (%0.0)     153 (%0.077)
date                                object       0 (%0.0)     127 (%0.064)
dodrace                             int64        0 (%0.0)       6 (%0.003)
earbreadth                          int64        0 (%0.0)      18 (%0.009)
earlength                           int64        0 (%0.0)      27 (%0.014)
earprotrusion                       int64        0 (%0.0)      19 (%0.010)
elbowrestheight                     int64        0 (%0.0)     146 (%0.074)
ethnicity                           object    1467 (%0.74)    112 (%0.056)
eyeheightsitting                    int64        0 (%0.0)     160 (%0.081)
footbreadthhorizontal               int64        0 (%0.0)      32 (%0.016)
footlength                          int64        0 (%0.0)      74 (%0.037)
forearmcenterofgriplength           int64        0 (%0.0)     107 (%0.054)
forearmcircumferenceflexed          int64        0 (%0.0)     110 (%0.055)
forearmforearmbreadth               int64        0 (%0.0)     212 (%0.107)
forearmhandlength                   int64        0 (%0.0)     135 (%0.068)
functionalleglength                 int64        0 (%0.0)     274 (%0.138)
gender                              object       0 (%0.0)       1 (%0.001)
handbreadth                         int64        0 (%0.0)      26 (%0.013)
handcircumference                   int64        0 (%0.0)      55 (%0.028)
handlength                          int64        0 (%0.0)      64 (%0.032)
headbreadth                         int64        0 (%0.0)      36 (%0.018)
headcircumference                   int64        0 (%0.0)     111 (%0.056)
headlength                          int64        0 (%0.0)      48 (%0.024)
heelanklecircumference              int64        0 (%0.0)      90 (%0.045)
heelbreadth                         int64        0 (%0.0)      34 (%0.017)
heightin                            int64        0 (%0.0)      21 (%0.011)
hipbreadth                          int64        0 (%0.0)     153 (%0.077)
hipbreadthsitting                   int64        0 (%0.0)     177 (%0.089)
iliocristaleheight                  int64        0 (%0.0)     253 (%0.127)
installation                        object       0 (%0.0)      11 (%0.006)
interpupillarybreadth               int64        0 (%0.0)      47 (%0.024)
interscyei                          int64        0 (%0.0)     163 (%0.082)
interscyeii                         int64        0 (%0.0)     145 (%0.073)
kneeheightmidpatella                int64        0 (%0.0)     150 (%0.076)
kneeheightsitting                   int64        0 (%0.0)     157 (%0.079)
lateralfemoralepicondyleheight      int64        0 (%0.0)     155 (%0.078)
lateralmalleolusheight              int64        0 (%0.0)      33 (%0.017)
lowerthighcircumference             int64        0 (%0.0)     190 (%0.096)
mentonsellionlength                 int64        0 (%0.0)      41 (%0.021)
neckcircumference                   int64        0 (%0.0)     113 (%0.057)
neckcircumferencebase               int64        0 (%0.0)     119 (%0.060)
overheadfingertipreachsitting       int64        0 (%0.0)     304 (%0.153)
palmlength                          int64        0 (%0.0)      39 (%0.020)
poplitealheight                     int64        0 (%0.0)     137 (%0.069)
primarymos                          object       0 (%0.0)     181 (%0.091)
radialestylionlength                int64        0 (%0.0)      92 (%0.046)
shouldercircumference               int64        0 (%0.0)     266 (%0.134)
shoulderelbowlength                 int64        0 (%0.0)     107 (%0.054)
shoulderlength                      int64        0 (%0.0)      64 (%0.032)
sittingheight                       int64        0 (%0.0)     172 (%0.087)
sleevelengthspinewrist              int64        0 (%0.0)     202 (%0.102)
sleeveoutseam                       int64        0 (%0.0)     158 (%0.080)
span                                int64        0 (%0.0)     390 (%0.196)
stature                             int64        0 (%0.0)     316 (%0.159)
subjectid                           int64        0 (%0.0)    1986 (%1.000)
subjectnumericrace                  int64        0 (%0.0)      38 (%0.019)
subjectsbirthlocation               object       0 (%0.0)     119 (%0.060)
suprasternaleheight                 int64        0 (%0.0)     289 (%0.146)
tenthribheight                      int64        0 (%0.0)     253 (%0.127)
thighcircumference                  int64        0 (%0.0)     278 (%0.140)
thighclearance                      int64        0 (%0.0)      87 (%0.044)
thumbtipreach                       int64        0 (%0.0)     221 (%0.111)
tibialheight                        int64        0 (%0.0)     141 (%0.071)
tragiontopofhead                    int64        0 (%0.0)      44 (%0.022)
trochanterionheight                 int64        0 (%0.0)     234 (%0.118)
verticaltrunkcircumferenceusa       int64        0 (%0.0)     347 (%0.175)
waistbacklength                     int64        0 (%0.0)     150 (%0.076)
waistbreadth                        int64        0 (%0.0)     179 (%0.090)
waistcircumference                  int64        0 (%0.0)     440 (%0.222)
waistdepth                          int64        0 (%0.0)     165 (%0.083)
waistfrontlengthsitting             int64        0 (%0.0)     133 (%0.067)
waistheightomphalion                int64        0 (%0.0)     254 (%0.128)
weightkg                            int64        0 (%0.0)     472 (%0.238)
weightlbs                           int64        0 (%0.0)     124 (%0.062)
wristcircumference                  int64        0 (%0.0)      51 (%0.026)
wristheight                         int64        0 (%0.0)     202 (%0.102)
writingpreference                   object       0 (%0.0)       3 (%0.002)

In [6]:
df_male = file_read('ANSUR II MALE Public.csv')
df_male.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [7]:
df_male.columns = df_male.columns.str.lower()
information(df_male)

RangeIndex: 4082 entries, 0 to 4081
Total column: 108

column                              type          null %       nunique %
--------------------------------------------------------------------------------
abdominalextensiondepthsitting      int64        0 (%0.0)     206 (%0.050)
acromialheight                      int64        0 (%0.0)     348 (%0.085)
acromionradialelength               int64        0 (%0.0)     111 (%0.027)
age                                 int64        0 (%0.0)      42 (%0.010)
anklecircumference                  int64        0 (%0.0)      97 (%0.024)
axillaheight                        int64        0 (%0.0)     333 (%0.082)
balloffootcircumference             int64        0 (%0.0)      90 (%0.022)
balloffootlength                    int64        0 (%0.0)      71 (%0.017)
biacromialbreadth                   int64        0 (%0.0)     129 (%0.032)
bicepscircumferenceflexed           int64        0 (%0.0)     209 (%0.051)
bicristalbreadth                    int64        0 (%0.0)     112 (%0.027)
bideltoidbreadth                    int64        0 (%0.0)     198 (%0.049)
bimalleolarbreadth                  int64        0 (%0.0)      33 (%0.008)
bitragionchinarc                    int64        0 (%0.0)      95 (%0.023)
bitragionsubmandibulararc           int64        0 (%0.0)     107 (%0.026)
bizygomaticbreadth                  int64        0 (%0.0)      46 (%0.011)
branch                              object       0 (%0.0)       3 (%0.001)
buttockcircumference                int64        0 (%0.0)     407 (%0.100)
buttockdepth                        int64        0 (%0.0)     153 (%0.037)
buttockheight                       int64        0 (%0.0)     281 (%0.069)
buttockkneelength                   int64        0 (%0.0)     182 (%0.045)
buttockpopliteallength              int64        0 (%0.0)     161 (%0.039)
calfcircumference                   int64        0 (%0.0)     179 (%0.044)
cervicaleheight                     int64        0 (%0.0)     353 (%0.086)
chestbreadth                        int64        0 (%0.0)     114 (%0.028)
chestcircumference                  int64        0 (%0.0)     451 (%0.110)
chestdepth                          int64        0 (%0.0)     153 (%0.037)
chestheight                         int64        0 (%0.0)     322 (%0.079)
component                           object       0 (%0.0)       3 (%0.001)
crotchheight                        int64        0 (%0.0)     263 (%0.064)
crotchlengthomphalion               int64        0 (%0.0)     267 (%0.065)
crotchlengthposterioromphalion      int64        0 (%0.0)     170 (%0.042)
date                                object       0 (%0.0)     185 (%0.045)
dodrace                             int64        0 (%0.0)       7 (%0.002)
earbreadth                          int64        0 (%0.0)      21 (%0.005)
earlength                           int64        0 (%0.0)      31 (%0.008)
earprotrusion                       int64        0 (%0.0)      21 (%0.005)
elbowrestheight                     int64        0 (%0.0)     173 (%0.042)
ethnicity                           object    3180 (%0.78)    159 (%0.039)
eyeheightsitting                    int64        0 (%0.0)     197 (%0.048)
footbreadthhorizontal               int64        0 (%0.0)      42 (%0.010)
footlength                          int64        0 (%0.0)      89 (%0.022)
forearmcenterofgriplength           int64        0 (%0.0)     114 (%0.028)
forearmcircumferenceflexed          int64        0 (%0.0)     140 (%0.034)
forearmforearmbreadth               int64        0 (%0.0)     279 (%0.068)
forearmhandlength                   int64        0 (%0.0)     145 (%0.036)
functionalleglength                 int64        0 (%0.0)     316 (%0.077)
gender                              object       0 (%0.0)       1 (%0.000)
handbreadth                         int64        0 (%0.0)      31 (%0.008)
handcircumference                   int64        0 (%0.0)      65 (%0.016)
handlength                          int64        0 (%0.0)      67 (%0.016)
headbreadth                         int64        0 (%0.0)      44 (%0.011)
headcircumference                   int64        0 (%0.0)     105 (%0.026)
headlength                          int64        0 (%0.0)      48 (%0.012)
heelanklecircumference              int64        0 (%0.0)     109 (%0.027)
heelbreadth                         int64        0 (%0.0)      40 (%0.010)
heightin                            int64        0 (%0.0)      25 (%0.006)
hipbreadth                          int64        0 (%0.0)     153 (%0.037)
hipbreadthsitting                   int64        0 (%0.0)     186 (%0.046)
iliocristaleheight                  int64        0 (%0.0)     294 (%0.072)
installation                        object       0 (%0.0)      11 (%0.003)
interpupillarybreadth               int64        0 (%0.0)      51 (%0.012)
interscyei                          int64        0 (%0.0)     200 (%0.049)
interscyeii                         int64        0 (%0.0)     181 (%0.044)
kneeheightmidpatella                int64        0 (%0.0)     173 (%0.042)
kneeheightsitting                   int64        0 (%0.0)     170 (%0.042)
lateralfemoralepicondyleheight      int64        0 (%0.0)     167 (%0.041)
lateralmalleolusheight              int64        0 (%0.0)      38 (%0.009)
lowerthighcircumference             int64        0 (%0.0)     191 (%0.047)
mentonsellionlength                 int64        0 (%0.0)      48 (%0.012)
neckcircumference                   int64        0 (%0.0)     156 (%0.038)
neckcircumferencebase               int64        0 (%0.0)     159 (%0.039)
overheadfingertipreachsitting       int64        0 (%0.0)     364 (%0.089)
palmlength                          int64        0 (%0.0)      43 (%0.011)
poplitealheight                     int64        0 (%0.0)     156 (%0.038)
primarymos                          object       0 (%0.0)     229 (%0.056)
radialestylionlength                int64        0 (%0.0)     102 (%0.025)
shouldercircumference               int64        0 (%0.0)     343 (%0.084)
shoulderelbowlength                 int64        0 (%0.0)     112 (%0.027)
shoulderlength                      int64        0 (%0.0)      71 (%0.017)
sittingheight                       int64        0 (%0.0)     208 (%0.051)
sleevelengthspinewrist              int64        0 (%0.0)     233 (%0.057)
sleeveoutseam                       int64        0 (%0.0)     187 (%0.046)
span                                int64        0 (%0.0)     442 (%0.108)
stature                             int64        0 (%0.0)     377 (%0.092)
subjectid                           int64        0 (%0.0)    4082 (%1.000)
subjectnumericrace                  int64        0 (%0.0)      36 (%0.009)
subjectsbirthlocation               object       0 (%0.0)     126 (%0.031)
suprasternaleheight                 int64        0 (%0.0)     336 (%0.082)
tenthribheight                      int64        0 (%0.0)     299 (%0.073)
thighcircumference                  int64        0 (%0.0)     328 (%0.080)
thighclearance                      int64        0 (%0.0)     101 (%0.025)
thumbtipreach                       int64        0 (%0.0)     255 (%0.062)
tibialheight                        int64        0 (%0.0)     166 (%0.041)
tragiontopofhead                    int64        0 (%0.0)      41 (%0.010)
trochanterionheight                 int64        0 (%0.0)     282 (%0.069)
verticaltrunkcircumferenceusa       int64        0 (%0.0)     465 (%0.114)
waistbacklength                     int64        0 (%0.0)     175 (%0.043)
waistbreadth                        int64        0 (%0.0)     193 (%0.047)
waistcircumference                  int64        0 (%0.0)     527 (%0.129)
waistdepth                          int64        0 (%0.0)     194 (%0.048)
waistfrontlengthsitting             int64        0 (%0.0)     174 (%0.043)
waistheightomphalion                int64        0 (%0.0)     286 (%0.070)
weightkg                            int64        0 (%0.0)     691 (%0.169)
weightlbs                           int64        0 (%0.0)     167 (%0.041)
wristcircumference                  int64        0 (%0.0)      64 (%0.016)
wristheight                         int64        0 (%0.0)     240 (%0.059)
writingpreference                   object       0 (%0.0)       3 (%0.001)

In [8]:
df = pd.concat([df_female, df_male],ignore_index=True)
df0 = df.copy()
df.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,branch,primarymos,subjectsbirthlocation,subjectnumericrace,ethnicity,dodrace,age,heightin,weightlbs,writingpreference
0,10037,231,1282,301,204,1180,222,177,373,315,...,Combat Support,92Y,Germany,2,NaN,2,26,61,142,Right hand
1,10038,194,1379,320,207,1292,225,178,372,272,...,Combat Service Support,25U,California,3,Mexican,3,21,64,120,Right hand
2,10042,183,1369,329,233,1271,237,196,397,300,...,Combat Service Support,35D,Texas,1,NaN,1,23,68,147,Right hand
3,10043,261,1356,306,214,1250,240,188,384,364,...,Combat Service Support,25U,District of Columbia,8,Caribbean Islander,2,22,66,175,Right hand
4,10051,309,1303,308,214,1210,217,182,378,320,...,Combat Arms,42A,Texas,1,NaN,1,45,63,195,Right hand

In [15]:
information(df)

RangeIndex: 6068 entries, 0 to 6067
Total column: 108

column                              type          null %       nunique %
--------------------------------------------------------------------------------
abdominalextensiondepthsitting      int64        0 (%0.0)     218 (%0.036)
acromialheight                      int64        0 (%0.0)     432 (%0.071)
acromionradialelength               int64        0 (%0.0)     133 (%0.022)
age                                 int64        0 (%0.0)      42 (%0.007)
anklecircumference                  int64        0 (%0.0)     112 (%0.018)
axillaheight                        int64        0 (%0.0)     402 (%0.066)
balloffootcircumference             int64        0 (%0.0)     107 (%0.018)
balloffootlength                    int64        0 (%0.0)      86 (%0.014)
biacromialbreadth                   int64        0 (%0.0)     169 (%0.028)
bicepscircumferenceflexed           int64        0 (%0.0)     237 (%0.039)
bicristalbreadth                    int64        0 (%0.0)     132 (%0.022)
bideltoidbreadth                    int64        0 (%0.0)     244 (%0.040)
bimalleolarbreadth                  int64        0 (%0.0)      37 (%0.006)
bitragionchinarc                    int64        0 (%0.0)     107 (%0.018)
bitragionsubmandibulararc           int64        0 (%0.0)     125 (%0.021)
bizygomaticbreadth                  int64        0 (%0.0)      50 (%0.008)
branch                              object       0 (%0.0)       3 (%0.000)
buttockcircumference                int64        0 (%0.0)     429 (%0.071)
buttockdepth                        int64        0 (%0.0)     161 (%0.027)
buttockheight                       int64        0 (%0.0)     322 (%0.053)
buttockkneelength                   int64        0 (%0.0)     209 (%0.034)
buttockpopliteallength              int64        0 (%0.0)     185 (%0.030)
calfcircumference                   int64        0 (%0.0)     196 (%0.032)
cervicaleheight                     int64        0 (%0.0)     452 (%0.074)
chestbreadth                        int64        0 (%0.0)     131 (%0.022)
chestcircumference                  int64        0 (%0.0)     521 (%0.086)
chestdepth                          int64        0 (%0.0)     162 (%0.027)
chestheight                         int64        0 (%0.0)     421 (%0.069)
component                           object       0 (%0.0)       3 (%0.000)
crotchheight                        int64        0 (%0.0)     318 (%0.052)
crotchlengthomphalion               int64        0 (%0.0)     273 (%0.045)
crotchlengthposterioromphalion      int64        0 (%0.0)     180 (%0.030)
date                                object       0 (%0.0)     253 (%0.042)
dodrace                             int64        0 (%0.0)       7 (%0.001)
earbreadth                          int64        0 (%0.0)      22 (%0.004)
earlength                           int64        0 (%0.0)      36 (%0.006)
earprotrusion                       int64        0 (%0.0)      22 (%0.004)
elbowrestheight                     int64        0 (%0.0)     176 (%0.029)
ethnicity                           object    4647 (%0.77)    209 (%0.034)
eyeheightsitting                    int64        0 (%0.0)     237 (%0.039)
footbreadthhorizontal               int64        0 (%0.0)      49 (%0.008)
footlength                          int64        0 (%0.0)     106 (%0.017)
forearmcenterofgriplength           int64        0 (%0.0)     143 (%0.024)
forearmcircumferenceflexed          int64        0 (%0.0)     169 (%0.028)
forearmforearmbreadth               int64        0 (%0.0)     335 (%0.055)
forearmhandlength                   int64        0 (%0.0)     181 (%0.030)
functionalleglength                 int64        0 (%0.0)     383 (%0.063)
gender                              object       0 (%0.0)       2 (%0.000)
handbreadth                         int64        0 (%0.0)      38 (%0.006)
handcircumference                   int64        0 (%0.0)      86 (%0.014)
handlength                          int64        0 (%0.0)      79 (%0.013)
headbreadth                         int64        0 (%0.0)      48 (%0.008)
headcircumference                   int64        0 (%0.0)     121 (%0.020)
headlength                          int64        0 (%0.0)      55 (%0.009)
heelanklecircumference              int64        0 (%0.0)     134 (%0.022)
heelbreadth                         int64        0 (%0.0)      42 (%0.007)
heightin                            int64        0 (%0.0)      29 (%0.005)
hipbreadth                          int64        0 (%0.0)     166 (%0.027)
hipbreadthsitting                   int64        0 (%0.0)     202 (%0.033)
iliocristaleheight                  int64        0 (%0.0)     345 (%0.057)
installation                        object       0 (%0.0)      12 (%0.002)
interpupillarybreadth               int64        0 (%0.0)      56 (%0.009)
interscyei                          int64        0 (%0.0)     240 (%0.040)
interscyeii                         int64        0 (%0.0)     220 (%0.036)
kneeheightmidpatella                int64        0 (%0.0)     204 (%0.034)
kneeheightsitting                   int64        0 (%0.0)     206 (%0.034)
lateralfemoralepicondyleheight      int64        0 (%0.0)     192 (%0.032)
lateralmalleolusheight              int64        0 (%0.0)      47 (%0.008)
lowerthighcircumference             int64        0 (%0.0)     206 (%0.034)
mentonsellionlength                 int64        0 (%0.0)      55 (%0.009)
neckcircumference                   int64        0 (%0.0)     206 (%0.034)
neckcircumferencebase               int64        0 (%0.0)     208 (%0.034)
overheadfingertipreachsitting       int64        0 (%0.0)     452 (%0.074)
palmlength                          int64        0 (%0.0)      50 (%0.008)
poplitealheight                     int64        0 (%0.0)     192 (%0.032)
primarymos                          object       0 (%0.0)     285 (%0.047)
radialestylionlength                int64        0 (%0.0)     124 (%0.020)
shouldercircumference               int64        0 (%0.0)     458 (%0.075)
shoulderelbowlength                 int64        0 (%0.0)     139 (%0.023)
shoulderlength                      int64        0 (%0.0)      78 (%0.013)
sittingheight                       int64        0 (%0.0)     252 (%0.042)
sleevelengthspinewrist              int64        0 (%0.0)     306 (%0.050)
sleeveoutseam                       int64        0 (%0.0)     226 (%0.037)
span                                int64        0 (%0.0)     569 (%0.094)
stature                             int64        0 (%0.0)     481 (%0.079)
subjectid                           int64        0 (%0.0)    6068 (%1.000)
subjectnumericrace                  int64        0 (%0.0)      44 (%0.007)
subjectsbirthlocation               object       0 (%0.0)     152 (%0.025)
suprasternaleheight                 int64        0 (%0.0)     427 (%0.070)
tenthribheight                      int64        0 (%0.0)     351 (%0.058)
thighcircumference                  int64        0 (%0.0)     343 (%0.057)
thighclearance                      int64        0 (%0.0)     110 (%0.018)
thumbtipreach                       int64        0 (%0.0)     314 (%0.052)
tibialheight                        int64        0 (%0.0)     187 (%0.031)
tragiontopofhead                    int64        0 (%0.0)      46 (%0.008)
trochanterionheight                 int64        0 (%0.0)     321 (%0.053)
verticaltrunkcircumferenceusa       int64        0 (%0.0)     522 (%0.086)
waistbacklength                     int64        0 (%0.0)     214 (%0.035)
waistbreadth                        int64        0 (%0.0)     214 (%0.035)
waistcircumference                  int64        0 (%0.0)     581 (%0.096)
waistdepth                          int64        0 (%0.0)     211 (%0.035)
waistfrontlengthsitting             int64        0 (%0.0)     188 (%0.031)
waistheightomphalion                int64        0 (%0.0)     350 (%0.058)
weightkg                            int64        0 (%0.0)     783 (%0.129)
weightlbs                           int64        0 (%0.0)     188 (%0.031)
wristcircumference                  int64        0 (%0.0)      79 (%0.013)
wristheight                         int64        0 (%0.0)     276 (%0.045)
writingpreference                   object       0 (%0.0)       3 (%0.000)

In [47]:
unique_ethnicities = {k:v for k,v in sorted(df.ethnicity.value_counts().items()) if isinstance(k, str)}

for k,v in unique_ethnicities.items():
    percentage = v / df.ethnicity.notnull().sum()
    print(f"{k:<50}:{v:>3} (%{percentage:.3f})")

Aboriginal Guyanese                               :  1 (%0.001)
Algonquin Navajo Penobscot                        :  1 (%0.001)
Apache                                            :  2 (%0.001)
Apache Blackfoot                                  :  2 (%0.001)
Apache Blackfoot Cherokee Crow                    :  1 (%0.001)
Apache Cherokee                                   :  5 (%0.004)
Apache Kiowa Mexican                              :  1 (%0.001)
Apache Mexican                                    :  1 (%0.001)
Arab or Middle Eastern                            : 17 (%0.012)
Arab or Middle Eastern Caribbean Islander Cherokee:  1 (%0.001)
Arab or Middle Eastern Cuban                      :  1 (%0.001)
Arab or Middle Eastern Honduran                   :  1 (%0.001)
Arab or Middle Eastern Venezuelan                 :  1 (%0.001)
Argentine                                         :  1 (%0.001)
Argentine Brazilian                               :  1 (%0.001)
Argentine Mexican                                 :  1 (%0.001)
Armenian                                          :  1 (%0.001)
Azorean                                           :  1 (%0.001)
Aztec Mexican                                     :  1 (%0.001)
Belizean                                          :  2 (%0.001)
Belizean Dominican                                :  1 (%0.001)
Blackfoot                                         :  7 (%0.005)
Blackfoot Caribbean Islander Puerto Rican         :  1 (%0.001)
Blackfoot Cherokee                                :  5 (%0.004)
Blackfoot Cherokee Choctaw                        :  1 (%0.001)
Blackfoot Cherokee Shawnee                        :  1 (%0.001)
Blackfoot Choctaw Sioux                           :  1 (%0.001)
Blackfoot Mexican                                 :  1 (%0.001)
Blackfoot Puerto Rican                            :  1 (%0.001)
Blackfoot Shawnee                                 :  1 (%0.001)
Bolivian                                          :  2 (%0.001)
Brazilian                                         :  2 (%0.001)
Burmese                                           :  2 (%0.001)
Caddo Cheyenne Mexican                            :  1 (%0.001)
Cambodian                                         :  4 (%0.003)
Cambodian Vietnamese                              :  1 (%0.001)
Cape Verdean                                      :  1 (%0.001)
Caribbean Islander                                :124 (%0.087)
Caribbean Islander Cherokee                       :  1 (%0.001)
Caribbean Islander Chinese East/Asian Indian      :  1 (%0.001)
Caribbean Islander Cuban                          :  1 (%0.001)
Caribbean Islander Dominican                      :  1 (%0.001)
Caribbean Islander East/Asian Indian              :  2 (%0.001)
Caribbean Islander Mexican                        :  1 (%0.001)
Caribbean Islander Panamanian                     :  2 (%0.001)
Caribbean Islander Puerto Rican                   :  2 (%0.001)
Caribbean Islander Vietnamese                     :  1 (%0.001)
Carolinian Guamanian/Chamorro                     :  1 (%0.001)
Cheraw                                            :  1 (%0.001)
Cherokee                                          : 65 (%0.046)
Cherokee Choctaw                                  :  2 (%0.001)
Cherokee Choctaw Mexican                          :  1 (%0.001)
Cherokee Comanche                                 :  2 (%0.001)
Cherokee Hawaiian                                 :  1 (%0.001)
Cherokee Iroquois                                 :  1 (%0.001)
Cherokee Japanese                                 :  2 (%0.001)
Cherokee Korean                                   :  1 (%0.001)
Cherokee Mexican                                  :  3 (%0.002)
Cherokee Osage                                    :  1 (%0.001)
Cherokee Puerto Rican                             :  4 (%0.003)
Cherokee Sioux                                    :  1 (%0.001)
Cherokee Yaqui                                    :  1 (%0.001)
Cheyenne                                          :  1 (%0.001)
Cheyenne River Sioux                              :  1 (%0.001)
Chickasaw                                         :  2 (%0.001)
Chickasaw Choctaw                                 :  1 (%0.001)
Chilean                                           :  1 (%0.001)
Chilean Mexican                                   :  3 (%0.002)
Chinese                                           : 26 (%0.018)
Chinese Filipino                                  :  3 (%0.002)
Chinese Hawaiian Japanese Polynesian              :  1 (%0.001)
Chinese Hmong                                     :  1 (%0.001)
Chinese Japanese                                  :  1 (%0.001)
Chinese Japanese Korean Thai                      :  1 (%0.001)
Chinese Korean                                    :  1 (%0.001)
Chinese Mexican                                   :  1 (%0.001)
Chinese Puerto Rican Seminole                     :  1 (%0.001)
Chinese Thai                                      :  2 (%0.001)
Chinese Vietnamese                                :  3 (%0.002)
Chinook                                           :  1 (%0.001)
Chippewa                                          :  7 (%0.005)
Chippewa Mexican                                  :  1 (%0.001)
Chippewa Narragansett                             :  1 (%0.001)
Choctaw                                           :  6 (%0.004)
Choctaw Cherokee                                  :  1 (%0.001)
Choctaw Creek                                     :  1 (%0.001)
Choctaw Sioux                                     :  1 (%0.001)
Choctaw Vietnamese                                :  1 (%0.001)
Choinumni Mono                                    :  1 (%0.001)
Cochiti Pueblo Mexican                            :  1 (%0.001)
Colombian                                         : 17 (%0.012)
Colombian Cuban                                   :  1 (%0.001)
Colombian Ecuadorian                              :  2 (%0.001)
Colombian Puerto Rican                            :  1 (%0.001)
Comanche                                          :  3 (%0.002)
Costa Rican                                       :  1 (%0.001)
Costa Rican Cuban                                 :  1 (%0.001)
Costa Rican Salvadoran                            :  1 (%0.001)
Cree                                              :  3 (%0.002)
Creek                                             :  5 (%0.004)
Creek Samoan                                      :  1 (%0.001)
Creek Seminole                                    :  1 (%0.001)
Cuban                                             : 17 (%0.012)
Cuban Laotian                                     :  1 (%0.001)
Cuban Mexican                                     :  2 (%0.001)
Cuban Puerto Rican                                :  4 (%0.003)
Cuban Salvadoran                                  :  1 (%0.001)
Cuban Unreadable Native American Tribe            :  1 (%0.001)
Cuban Venezuelan                                  :  1 (%0.001)
Dominican                                         : 32 (%0.023)
Dominican Ecuadorian Puerto Rican                 :  1 (%0.001)
Dominican Guyanese                                :  1 (%0.001)
Dominican Korean                                  :  1 (%0.001)
Dominican Puerto Rican                            :  8 (%0.006)
Dominican Salvadoran                              :  1 (%0.001)
East/Asian Indian                                 : 13 (%0.009)
Ecuadorian                                        :  7 (%0.005)
Ecuadorian Puerto Rican                           :  2 (%0.001)
Eskimo                                            :  2 (%0.001)
Fijian                                            :  1 (%0.001)
Filipino                                          : 67 (%0.047)
Filipino Guamanian/Chamorro                       :  2 (%0.001)
Filipino Hawaiian                                 :  1 (%0.001)
Filipino Hawaiian Japanese                        :  1 (%0.001)
Filipino Hawaiian Puerto Rican                    :  1 (%0.001)
Filipino Japanese                                 :  1 (%0.001)
Filipino Korean                                   :  1 (%0.001)
Filipino Mexican                                  :  5 (%0.004)
Filipino Puerto Rican                             :  1 (%0.001)
Filipino Vietnamese                               :  2 (%0.001)
Guamanian/Chamorro                                :  4 (%0.003)
Guatemalan                                        :  4 (%0.003)
Guatemalan Honduran                               :  1 (%0.001)
Guatemalan Mexican                                :  4 (%0.003)
Guatemalan Puerto Rican                           :  1 (%0.001)
Guatemalan Salvadoran                             :  1 (%0.001)
Hawaiian                                          :  3 (%0.002)
Hawaiian Polynesian                               :  2 (%0.001)
Hmong                                             :  6 (%0.004)
Honduran                                          :  9 (%0.006)
Honduran Nicaraguan                               :  2 (%0.001)
Honduran Panamanian                               :  1 (%0.001)
Houma                                             :  1 (%0.001)
Hunkpapa Lakota                                   :  1 (%0.001)
Indonesian Puerto Rican                           :  1 (%0.001)
Japanese                                          : 22 (%0.015)
Japanese Korean                                   :  1 (%0.001)
Japanese Mexican                                  :  5 (%0.004)
Japanese Samoan                                   :  1 (%0.001)
Kiowa                                             :  2 (%0.001)
Korean                                            : 53 (%0.037)
Laguna Pueblo Mexican Puerto Rican                :  1 (%0.001)
Lakota Sioux                                      :  1 (%0.001)
Lakota Sioux Oglala Sioux                         :  1 (%0.001)
Laotian                                           :  9 (%0.006)
Lenape Puerto Rican                               :  1 (%0.001)
Lumbee                                            :  4 (%0.003)
Malaysian                                         :  2 (%0.001)
Mescalero Apache                                  :  2 (%0.001)
Mexican                                           :357 (%0.251)
Mexican Nicaraguan                                :  1 (%0.001)
Mexican Panamanian                                :  1 (%0.001)
Mexican Pima                                      :  1 (%0.001)
Mexican Pomo                                      :  1 (%0.001)
Mexican Puerto Rican                              : 10 (%0.007)
Mexican Salvadoran                                :  4 (%0.003)
Mexican Turkish                                   :  1 (%0.001)
Mexican Venezuelan                                :  1 (%0.001)
Mexican Yaqui                                     :  1 (%0.001)
Mexican Zuni                                      :  1 (%0.001)
Miami                                             :  1 (%0.001)
Micronesian                                       :  4 (%0.003)
Muscogee                                          :  1 (%0.001)
Métis Creole                                      :  1 (%0.001)
Navajo                                            :  4 (%0.003)
Navajo Sioux                                      :  1 (%0.001)
Nepali                                            :  2 (%0.001)
Nicaraguan                                        :  6 (%0.004)
Nicaraguan Salvadoran                             :  1 (%0.001)
Ojibwe                                            :  3 (%0.002)
Omaha                                             :  1 (%0.001)
Oneida                                            :  1 (%0.001)
Osage                                             :  1 (%0.001)
Palauan                                           :  1 (%0.001)
Panamanian                                        :  9 (%0.006)
Panamanian Puerto Rican                           :  2 (%0.001)
Paraguayan                                        :  1 (%0.001)
Peruvian                                          :  9 (%0.006)
Peruvian Salvadoran                               :  1 (%0.001)
Polynesian Samoan                                 :  3 (%0.002)
Potawatomi                                        :  4 (%0.003)
Puerto Rican                                      :183 (%0.129)
Puerto Rican Seneca                               :  1 (%0.001)
Puerto Rican Vietnamese                           :  1 (%0.001)
Salvadoran                                        : 16 (%0.011)
Salvadoran Venezuelan                             :  1 (%0.001)
Samoan                                            : 11 (%0.008)
Seminole                                          :  2 (%0.001)
Shawnee                                           :  2 (%0.001)
Sioux                                             :  1 (%0.001)
Sri Lankan                                        :  1 (%0.001)
Taiwanese                                         :  1 (%0.001)
Thai                                              :  7 (%0.005)
Tsimshian                                         :  1 (%0.001)
Turkish                                           :  1 (%0.001)
Undisclosed Native American Tribe                 :  1 (%0.001)
Ute                                               :  1 (%0.001)
Vietnamese                                        : 21 (%0.015)
Western Cherokee                                  :  1 (%0.001)

In [48]:
df.loc[df.ethnicity.isnull(), ['subjectnumericrace', 'dodrace']]

      subjectnumericrace  dodrace
0                      2        2
2                      1        1
4                      1        1
5                      2        2
6                      1        1
...                  ...      ...
6062                   1        1
6064                   1        1
6065                   1        1
6066                   1        1
6067                   1        1

[4647 rows x 2 columns]

In [49]:
df.loc[(df.subjectnumericrace == 18) & (df.ethnicity.notnull()), ['subjectnumericrace','ethnicity','dodrace']]

      subjectnumericrace                             ethnicity  dodrace
136                   18                Arab or Middle Eastern        1
196                   18                Arab or Middle Eastern        1
234                   18                Arab or Middle Eastern        1
351                   18                    Caribbean Islander        2
1343                  18                     East/Asian Indian        1
2314                  18                    Caribbean Islander        2
2331                  18                    Caribbean Islander        8
2459                  18                    Caribbean Islander        2
2514                  18                Arab or Middle Eastern        1
2550                  18                               Turkish        1
3044                  18                Arab or Middle Eastern        1
3062                  18  Caribbean Islander East/Asian Indian        1
3745                  18                Arab or Middle Eastern        1
3782                  18                    Caribbean Islander        3
3929                  18                    Caribbean Islander        1
4234                  18                Arab or Middle Eastern        4
4994                  18                Arab or Middle Eastern        1
5395                  18                    Caribbean Islander        1

In [50]:
df.groupby('gender').dodrace.value_counts()

gender  dodrace
Female  1           975
        2           656
        3           239
        4            71
        6            25
        5            20
Male    1          2817
        2           642
        3           440
        4           117
        6            34
        5            29
        8             3
Name: count, dtype: int64

In [60]:
df.dodrace.value_counts()

dodrace
1    3792
2    1298
3     679
4     188
6      59
5      49
8       3
Name: count, dtype: int64

In [63]:
df['subjectsbirthlocation'].value_counts().items()

In [74]:
for k, v in df.subjectsbirthlocation.value_counts().items():
    print(f"{k:<25}: {v:<5}  ({v/df.shape[0]:.2f})")

California               : 446    (0.07)
New York                 : 420    (0.07)
Texas                    : 397    (0.07)
Indiana                  : 266    (0.04)
Oklahoma                 : 221    (0.04)
Illinois                 : 216    (0.04)
Florida                  : 210    (0.03)
Minnesota                : 200    (0.03)
Michigan                 : 196    (0.03)
Mississippi              : 194    (0.03)
Georgia                  : 170    (0.03)
Alabama                  : 164    (0.03)
South Carolina           : 161    (0.03)
North Carolina           : 149    (0.02)
Ohio                     : 142    (0.02)
Louisiana                : 137    (0.02)
Pennsylvania             : 132    (0.02)
Virginia                 : 118    (0.02)
Massachusetts            : 112    (0.02)
Wisconsin                : 102    (0.02)
Germany                  : 92     (0.02)
New Jersey               : 89     (0.01)
Puerto Rico              : 88     (0.01)
Missouri                 : 84     (0.01)
Arizona                  : 84     (0.01)
Colorado                 : 81     (0.01)
Maryland                 : 80     (0.01)
Tennessee                : 74     (0.01)
Kentucky                 : 69     (0.01)
Washington               : 66     (0.01)
Kansas                   : 63     (0.01)
South Dakota             : 56     (0.01)
Iowa                     : 55     (0.01)
Arkansas                 : 54     (0.01)
Philippines              : 46     (0.01)
Oregon                   : 42     (0.01)
Mexico                   : 39     (0.01)
Connecticut              : 36     (0.01)
Jamaica                  : 35     (0.01)
Nebraska                 : 31     (0.01)
South Korea              : 31     (0.01)
Hawaii                   : 29     (0.00)
Utah                     : 28     (0.00)
West Virginia            : 26     (0.00)
Nevada                   : 24     (0.00)
Idaho                    : 20     (0.00)
Rhode Island             : 19     (0.00)
District of Columbia     : 19     (0.00)
Maine                    : 18     (0.00)
North Dakota             : 18     (0.00)
Dominican Republic       : 17     (0.00)
New Mexico               : 17     (0.00)
Delaware                 : 17     (0.00)
New Hampshire            : 14     (0.00)
Vietnam                  : 13     (0.00)
Vermont                  : 13     (0.00)
Colombia                 : 13     (0.00)
Haiti                    : 12     (0.00)
Montana                  : 12     (0.00)
Japan                    : 11     (0.00)
United Kingdom           : 11     (0.00)
Guam                     : 10     (0.00)
Panama                   : 10     (0.00)
Guyana                   : 9      (0.00)
Canada                   : 9      (0.00)
Alaska                   : 8      (0.00)
China                    : 8      (0.00)
American Samoa           : 8      (0.00)
Peru                     : 8      (0.00)
Russia                   : 8      (0.00)
US Virgin Islands        : 7      (0.00)
Wyoming                  : 7      (0.00)
Trinidad and Tobago      : 7      (0.00)
Ukraine                  : 7      (0.00)
Liberia                  : 6      (0.00)
India                    : 6      (0.00)
Barbados                 : 5      (0.00)
El Salvador              : 5      (0.00)
Ecuador                  : 5      (0.00)
Poland                   : 5      (0.00)
Nicaragua                : 4      (0.00)
Cuba                     : 4      (0.00)
Grenada                  : 4      (0.00)
Portugal                 : 4      (0.00)
Honduras                 : 4      (0.00)
Nigeria                  : 4      (0.00)
Thailand                 : 4      (0.00)
South Africa             : 4      (0.00)
Laos                     : 3      (0.00)
Romania                  : 3      (0.00)
Nepal                    : 3      (0.00)
Israel                   : 3      (0.00)
France                   : 3      (0.00)
Morocco                  : 3      (0.00)
Belgium                  : 3      (0.00)
Kenya                    : 3      (0.00)
Iraq                     : 2      (0.00)
Taiwan                   : 2      (0.00)
Netherlands              : 2      (0.00)
Micronesia               : 2      (0.00)
Belize                   : 2      (0.00)
Sierra Leone             : 2      (0.00)
Sudan                    : 2      (0.00)
Lebanon                  : 2      (0.00)
Costa Rica               : 2      (0.00)
Antigua and Barbuda      : 2      (0.00)
Turkey                   : 2      (0.00)
United States            : 2      (0.00)
Bolivia                  : 2      (0.00)
Ghana                    : 2      (0.00)
Cameroon                 : 2      (0.00)
Italy                    : 2      (0.00)
Burma                    : 2      (0.00)
Iceland                  : 2      (0.00)
Palau                    : 2      (0.00)
Ivory Coast              : 1      (0.00)
Brazil                   : 1      (0.00)
Cape Verde               : 1      (0.00)
Syria                    : 1      (0.00)
South America            : 1      (0.00)
New Zealand              : 1      (0.00)
Singapore                : 1      (0.00)
Argentina                : 1      (0.00)
French Guiana            : 1      (0.00)
Belarus                  : 1      (0.00)
Ethiopia                 : 1      (0.00)
Saint Lucia              : 1      (0.00)
Egypt                    : 1      (0.00)
Togo                     : 1      (0.00)
Cambodia                 : 1      (0.00)
Senegal                  : 1      (0.00)
Bangladesh               : 1      (0.00)
Guadalupe                : 1      (0.00)
Dominica                 : 1      (0.00)
Azerbaijan               : 1      (0.00)
Korea                    : 1      (0.00)
Venezuela                : 1      (0.00)
Fiji                     : 1      (0.00)
Northern Mariana Islands : 1      (0.00)
Iran                     : 1      (0.00)
Bosnia and Herzegovina   : 1      (0.00)
Bermuda                  : 1      (0.00)
Denmark                  : 1      (0.00)
Bulgaria                 : 1      (0.00)
Chile                    : 1      (0.00)
Paraguay                 : 1      (0.00)
British Virgin Islands   : 1      (0.00)
Zambia                   : 1      (0.00)
Bahamas                  : 1      (0.00)
Serbia                   : 1      (0.00)
Sri Lanka                : 1      (0.00)
Guatemala                : 1      (0.00)

## Explore Data

In [9]:
# Filtreleme yapmadan önce tüm uyarıları yakalayın
# import warnings

# warnings.filterwarnings("ignore")
# from dataprep.datasets import load_dataset
# from dataprep.eda import create_report
# create_report(df_full).show_browser()

In [ ]:
# pip install dataprep

In [45]:
for k,v in sorted(df.subjectsbirthlocation.value_counts().items()):
    print(k, v)

Alabama 164
Alaska 8
American Samoa 8
Antigua and Barbuda 2
Argentina 1
Arizona 84
Arkansas 54
Azerbaijan 1
Bahamas 1
Bangladesh 1
Barbados 5
Belarus 1
Belgium 3
Belize 2
Bermuda 1
Bolivia 2
Bosnia and Herzegovina 1
Brazil 1
British Virgin Islands 1
Bulgaria 1
Burma 2
California 446
Cambodia 1
Cameroon 2
Canada 9
Cape Verde 1
Chile 1
China 8
Colombia 13
Colorado 81
Connecticut 36
Costa Rica 2
Cuba 4
Delaware 17
Denmark 1
District of Columbia 19
Dominica 1
Dominican Republic 17
Ecuador 5
Egypt 1
El Salvador 5
Ethiopia 1
Fiji 1
Florida 210
France 3
French Guiana 1
Georgia 170
Germany 92
Ghana 2
Grenada 4
Guadalupe 1
Guam 10
Guatemala 1
Guyana 9
Haiti 12
Hawaii 29
Honduras 4
Iceland 2
Idaho 20
Illinois 216
India 6
Indiana 266
Iowa 55
Iran 1
Iraq 2
Israel 3
Italy 2
Ivory Coast 1
Jamaica 35
Japan 11
Kansas 63
Kentucky 69
Kenya 3
Korea 1
Laos 3
Lebanon 2
Liberia 6
Louisiana 137
Maine 18
Maryland 80
Massachusetts 112
Mexico 39
Michigan 196
Micronesia 2
Minnesota 200
Mississippi 194
Missouri 84
Montana 12
Morocco 3
Nebraska 31
Nepal 3
Netherlands 2
Nevada 24
New Hampshire 14
New Jersey 89
New Mexico 17
New York 420
New Zealand 1
Nicaragua 4
Nigeria 4
North Carolina 149
North Dakota 18
Northern Mariana Islands 1
Ohio 142
Oklahoma 221
Oregon 42
Palau 2
Panama 10
Paraguay 1
Pennsylvania 132
Peru 8
Philippines 46
Poland 5
Portugal 4
Puerto Rico 88
Rhode Island 19
Romania 3
Russia 8
Saint Lucia 1
Senegal 1
Serbia 1
Sierra Leone 2
Singapore 1
South Africa 4
South America 1
South Carolina 161
South Dakota 56
South Korea 31
Sri Lanka 1
Sudan 2
Syria 1
Taiwan 2
Tennessee 74
Texas 397
Thailand 4
Togo 1
Trinidad and Tobago 7
Turkey 2
US Virgin Islands 7
Ukraine 7
United Kingdom 11
United States 2
Utah 28
Venezuela 1
Vermont 13
Vietnam 13
Virginia 118
Washington 66
West Virginia 26
Wisconsin 102
Wyoming 7
Zambia 1

In [23]:

state = "Alabama, Alaska, American Samoa, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, \
Georgia, Guam, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, \
Minor Outlying Islands, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, \
North Dakota, Northern Mariana Islands, Ohio, Oklahoma, Oregon, Pennsylvania, Puerto Rico, Rhode Island, South Carolina, South Dakota, Tennessee, \
Texas, U.S. Virgin Islands, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming".split(",")
states = [i.strip() for i in state]

USA = 0
country = {}
for k,v in sorted(df.subjectsbirthlocation.value_counts().items()):
    if k in states:
        USA +=v
        # k = "USA"    
    else:
       country[k] = v
        # print(k, v)

# print("USA: ", USA)
country["USA"] = USA

In [42]:
for k,v in sorted(country.items()):
    print(f"{k:<25}: {v:<5} ({round(v/df.shape[0], 2)}%)")
    # print(k,v)

Antigua and Barbuda      : 2     (0.0%)
Argentina                : 1     (0.0%)
Azerbaijan               : 1     (0.0%)
Bahamas                  : 1     (0.0%)
Bangladesh               : 1     (0.0%)
Barbados                 : 5     (0.0%)
Belarus                  : 1     (0.0%)
Belgium                  : 3     (0.0%)
Belize                   : 2     (0.0%)
Bermuda                  : 1     (0.0%)
Bolivia                  : 2     (0.0%)
Bosnia and Herzegovina   : 1     (0.0%)
Brazil                   : 1     (0.0%)
British Virgin Islands   : 1     (0.0%)
Bulgaria                 : 1     (0.0%)
Burma                    : 2     (0.0%)
Cambodia                 : 1     (0.0%)
Cameroon                 : 2     (0.0%)
Canada                   : 9     (0.0%)
Cape Verde               : 1     (0.0%)
Chile                    : 1     (0.0%)
China                    : 8     (0.0%)
Colombia                 : 13    (0.0%)
Costa Rica               : 2     (0.0%)
Cuba                     : 4     (0.0%)
Denmark                  : 1     (0.0%)
Dominica                 : 1     (0.0%)
Dominican Republic       : 17    (0.0%)
Ecuador                  : 5     (0.0%)
Egypt                    : 1     (0.0%)
El Salvador              : 5     (0.0%)
Ethiopia                 : 1     (0.0%)
Fiji                     : 1     (0.0%)
France                   : 3     (0.0%)
French Guiana            : 1     (0.0%)
Germany                  : 92    (0.02%)
Ghana                    : 2     (0.0%)
Grenada                  : 4     (0.0%)
Guadalupe                : 1     (0.0%)
Guatemala                : 1     (0.0%)
Guyana                   : 9     (0.0%)
Haiti                    : 12    (0.0%)
Honduras                 : 4     (0.0%)
Iceland                  : 2     (0.0%)
India                    : 6     (0.0%)
Iran                     : 1     (0.0%)
Iraq                     : 2     (0.0%)
Israel                   : 3     (0.0%)
Italy                    : 2     (0.0%)
Ivory Coast              : 1     (0.0%)
Jamaica                  : 35    (0.01%)
Japan                    : 11    (0.0%)
Kenya                    : 3     (0.0%)
Korea                    : 1     (0.0%)
Laos                     : 3     (0.0%)
Lebanon                  : 2     (0.0%)
Liberia                  : 6     (0.0%)
Mexico                   : 39    (0.01%)
Micronesia               : 2     (0.0%)
Morocco                  : 3     (0.0%)
Nepal                    : 3     (0.0%)
Netherlands              : 2     (0.0%)
New Zealand              : 1     (0.0%)
Nicaragua                : 4     (0.0%)
Nigeria                  : 4     (0.0%)
Palau                    : 2     (0.0%)
Panama                   : 10    (0.0%)
Paraguay                 : 1     (0.0%)
Peru                     : 8     (0.0%)
Philippines              : 46    (0.01%)
Poland                   : 5     (0.0%)
Portugal                 : 4     (0.0%)
Romania                  : 3     (0.0%)
Russia                   : 8     (0.0%)
Saint Lucia              : 1     (0.0%)
Senegal                  : 1     (0.0%)
Serbia                   : 1     (0.0%)
Sierra Leone             : 2     (0.0%)
Singapore                : 1     (0.0%)
South Africa             : 4     (0.0%)
South America            : 1     (0.0%)
South Korea              : 31    (0.01%)
Sri Lanka                : 1     (0.0%)
Sudan                    : 2     (0.0%)
Syria                    : 1     (0.0%)
Taiwan                   : 2     (0.0%)
Thailand                 : 4     (0.0%)
Togo                     : 1     (0.0%)
Trinidad and Tobago      : 7     (0.0%)
Turkey                   : 2     (0.0%)
US Virgin Islands        : 7     (0.0%)
USA                      : 5513  (0.91%)
Ukraine                  : 7     (0.0%)
United Kingdom           : 11    (0.0%)
United States            : 2     (0.0%)
Venezuela                : 1     (0.0%)
Vietnam                  : 13    (0.0%)
Zambia                   : 1     (0.0%)

In [44]:
for k,v in sorted(df.subjectsbirthlocation.value_counts().items()):
    if k in states:
        print(f"{k:<25}: {v:<5} ({round(v/5513, 2)}%)")

Alabama                  : 164   (0.03%)
Alaska                   : 8     (0.0%)
American Samoa           : 8     (0.0%)
Arizona                  : 84    (0.02%)
Arkansas                 : 54    (0.01%)
California               : 446   (0.08%)
Colorado                 : 81    (0.01%)
Connecticut              : 36    (0.01%)
Delaware                 : 17    (0.0%)
District of Columbia     : 19    (0.0%)
Florida                  : 210   (0.04%)
Georgia                  : 170   (0.03%)
Guam                     : 10    (0.0%)
Hawaii                   : 29    (0.01%)
Idaho                    : 20    (0.0%)
Illinois                 : 216   (0.04%)
Indiana                  : 266   (0.05%)
Iowa                     : 55    (0.01%)
Kansas                   : 63    (0.01%)
Kentucky                 : 69    (0.01%)
Louisiana                : 137   (0.02%)
Maine                    : 18    (0.0%)
Maryland                 : 80    (0.01%)
Massachusetts            : 112   (0.02%)
Michigan                 : 196   (0.04%)
Minnesota                : 200   (0.04%)
Mississippi              : 194   (0.04%)
Missouri                 : 84    (0.02%)
Montana                  : 12    (0.0%)
Nebraska                 : 31    (0.01%)
Nevada                   : 24    (0.0%)
New Hampshire            : 14    (0.0%)
New Jersey               : 89    (0.02%)
New Mexico               : 17    (0.0%)
New York                 : 420   (0.08%)
North Carolina           : 149   (0.03%)
North Dakota             : 18    (0.0%)
Northern Mariana Islands : 1     (0.0%)
Ohio                     : 142   (0.03%)
Oklahoma                 : 221   (0.04%)
Oregon                   : 42    (0.01%)
Pennsylvania             : 132   (0.02%)
Puerto Rico              : 88    (0.02%)
Rhode Island             : 19    (0.0%)
South Carolina           : 161   (0.03%)
South Dakota             : 56    (0.01%)
Tennessee                : 74    (0.01%)
Texas                    : 397   (0.07%)
Utah                     : 28    (0.01%)
Vermont                  : 13    (0.0%)
Virginia                 : 118   (0.02%)
Washington               : 66    (0.01%)
West Virginia            : 26    (0.0%)
Wisconsin                : 102   (0.02%)
Wyoming                  : 7     (0.0%)

In [26]:
df["wristheightsittingheight"] = df["wristheight"] + df["sittingheight"]
df["heightin_cm"] = df.eval("heightin * 2.54")


df.loc[:, ["stature", "heightin", "heightin_cm", "wristheight", "sittingheight", "wristheightsittingheight"]]

,stature,heightin,heightin_cm,wristheight,sittingheight,wristheightsittingheight
0,1560,61,154.94,756,803,1559
1,1665,64,162.56,815,835,1650
2,1711,68,172.72,799,904,1703
3,1660,66,167.64,818,875,1693
4,1572,63,160.02,762,824,1586
...,...,...,...,...,...,...
6063,1688,67,170.18,778,883,1661
6064,1765,71,180.34,873,938,1811
6065,1690,67,170.18,822,895,1717
6066,1718,69,175.26,837,900,1737
6067,1828,73,185.42,894,896,1790

In [35]:
df["heightin_from"] = df.eval("sleevelengthspinewrist * 2")

df.loc[:, ["stature", "heightin_cm", "wristheightsittingheight", "heightin_from", "span"]]

      stature  heightin_cm  wristheightsittingheight  heightin_from  span
0        1560       154.94                      1559           1618  1647
1        1665       162.56                      1650           1620  1751
2        1711       172.72                      1703           1710  1779
3        1660       167.64                      1693           1630  1708
4        1572       160.02                      1586           1620  1702
...       ...          ...                       ...            ...   ...
6063     1688       170.18                      1661           1730  1688
6064     1765       180.34                      1811           1806  1818
6065     1690       170.18                      1717           1720  1642
6066     1718       175.26                      1737           1748  1760
6067     1828       185.42                      1790           1910  1885

[6068 rows x 5 columns]

In [37]:
df["stature"].corr(df["wristheightsittingheight"])
df["stature"].corr(df["heightin_from"])
# df["stature"].corr(df["span"])

0.883870132967673

# DATA Preprocessing
- In this step we divide our data to X(Features) and y(Target) then ,
- To train and evaluation purposes we create train and test sets,
- Lastly, scale our data if features not in same scale. Why?

# Modelling
- Fit the model with train dataset
- Get predict from vanilla model on both train and test sets to examine if there is over/underfitting   
- Apply GridseachCV for both hyperparemeter tuning and sanity test of our model.
- Use hyperparameters that you find from gridsearch and make final prediction and evaluate the result according to chosen metric.

## 1. Logistic model

### Vanilla Logistic Model

### Logistic Model GridsearchCV

## 2. SVC

### Vanilla SVC model

###  SVC Model GridsearchCV

## 3. RF

### Vanilla RF Model

### RF Model GridsearchCV

## 4. XGBoost

### Vanilla XGBoost Model

### XGBoost Model GridsearchCV

---
---

---
---

# SMOTE
https://machinelearningmastery.com/smote-oversampling-for-imbalanced-classification/

##  Smote implement

In [ ]:
!pip install imblearn

In [ ]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

## Logistic Regression Over/ Under Sampling

## Other Evaluation Metrics for Multiclass Classification

- Evaluation metrics
https://towardsdatascience.com/comprehensive-guide-on-multiclass-classification-metrics-af94cfb83fbd

In [ ]:
from sklearn.metrics import matthews_corrcoef
matthews_corrcoef?
matthews_corrcoef(y_test, y_pred)

In [ ]:
from sklearn.metrics import cohen_kappa_score
cohen_kappa_score?
cohen_kappa_score(y_test, y_pred)

# Before the Deployment
- Choose the model that works best based on your chosen metric
- For final step, fit the best model with whole dataset to get better performance.
- And your model ready to deploy, dump your model and scaler.

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___